upstream {{project_name}} {
    server unix:///home/{{project_name}}/{{project_name}}.sock;
}

server {
    listen 8000;
    server_name  _;
    charset     utf-8;
    client_max_body_size 75M;

    location / {
        uwsgi_pass  {{project_name}};
        include     uwsgi_params;
    }

    location /static {
        alias /home/{{project_name}}/{{project_name}}/static;
        expires 365d;
    }

    location /media {
        alias /home/{{project_name}}/{{project_name}}/media;
        expires 365d;
    }

    location /player/private/media/ {
       alias /home/{{project_name}}/{{project_name}}/media/;
    }

location /robots.txt { root /home/{{project_name}}/{{project_name}}/static/; }
location /favicon.ico { root /home/{{project_name}}/{{project_name}}/static/; }
}
